In [1]:
from pandas import Series, DataFrame
import pandas as pd

### Read in the cars.csv file, and print the first row

In [9]:
df = pd.read_csv("cars.csv")
df
df.iloc[0] #print the first row of the table
#df.head(1) equivalent as the above

type     AMC Ambassador Brougham
mpg                           13
cyl                            8
disp                         360
hp                           175
wt                          3821
speed                         11
wt.1                          73
Name: 0, dtype: object

In [12]:
df["kpi"] = df["mpg"]*1.609/3.785

### Add a new column called *disp_per_cyl* to the dataframe.

The values of this column should be the displacement (*disp*) per cylinder (*cyl*) for each car.

In [5]:
df['disp_per_cyl'] = df['disp']/df['cyl']
df[:5]

,type,mpg,cyl,disp,hp,wt,speed,wt.1,disp_per_cyl
0,AMC Ambassador Brougham,13.0,8,360.0,175.0,3821,11.0,73,45.000000
1,AMC Ambassador DPL,15.0,8,390.0,190.0,3850,8.5,70,48.750000
2,AMC Ambassador SST,17.0,8,304.0,150.0,3672,11.5,72,38.000000
3,AMC Concord DL 6,20.2,6,232.0,90.0,3265,18.2,79,38.666667
4,AMC Concord DL,18.1,6,258.0,120.0,3410,15.1,78,43.000000

### Print the names of the 5 fastest cars.

In [12]:
df.sort_values(by='speed',ascending=False)['type'][:5]

285                   Peugeot 504
386             Volkswagen Pickup
380    Volkswagen Dasher (Diesel)
399             Volkswagen Type 3
72             Chevrolet Chevette
Name: type, dtype: object

In [15]:
df.sort_values(by = "speed", ascending = False).iloc[:5]['type']

285                   Peugeot 504
386             Volkswagen Pickup
380    Volkswagen Dasher (Diesel)
399             Volkswagen Type 3
72             Chevrolet Chevette
Name: type, dtype: object

In [16]:
first_5rows = df.sort_values(by = "speed", ascending = False).iloc[:5]
first_5rows['type']

285                   Peugeot 504
386             Volkswagen Pickup
380    Volkswagen Dasher (Diesel)
399             Volkswagen Type 3
72             Chevrolet Chevette
Name: type, dtype: object